@import "~swiper/swiper-bundle.min.css";


swiper {
  width: 100%;
  height: 41.667vw;
  @media(max-width: 740px) {
    height: 64.667vw;
  }
  @media(max-width: 480px) {

  }
}

.swiper-slide {
  @media(max-width: 740px) {

  }
  @media(max-width: 480px) {

  }

  .slide-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 7.5vw 9.722vw;
    @media(max-width: 740px) {
      padding: 6.5vw 6.25vw;
      overflow: hidden;
    }
    @media(max-width: 480px) {

    }

    img {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      @media(max-width: 740px) {
        left: 10vw;
        transform: scale(1.25);
      }
      @media(max-width: 480px) {

      }
    }
  }

}


.about-text {
  z-index: 5;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  @media(max-width: 740px) {
    justify-content: flex-start;
  }
  @media(max-width: 480px) {

  }

  .about-logo {
    svg {
      @media(max-width: 740px) {
        height: 5.708vw;
      }
      @media(max-width: 480px) {

      }
    }

    @media(max-width: 740px) {

    }
    @media(max-width: 480px) {

    }
  }

  .titles {
    @media(max-width: 740px) {

    }
    @media(max-width: 480px) {

    }

    h1 {
      color: #FF4C0D;
      font-size: 3.125vw;
      @media(max-width: 740px) {
        font-size: 4.5vw;
        margin-top: 16vw;
      }
      @media(max-width: 480px) {

      }
    }

    p {
      color: #222222;
      width: 31.944vw;
      font-size: 1.111vw;
      line-height: 1.458vw;
      margin-top: 3vw;
      @media(max-width: 740px) {
        width: 62.944vw;
        font-size: 2.5vw;
        line-height: 3.458vw;
      }
      @media(max-width: 480px) {

      }
    }
  }
}
