footer{
  height: 11.944vw;
  padding: 0 9.722vw;
  display:flex;
  align-items:center;
  justify-content:space-between;
  p{
      margin-bottom: 0.8vw;
    font-size: 1.111vw;
    }


  .rights, .schedule{
    display:flex;
    justify-content:center;
    flex-direction: column;
  }
  .schedule{
    align-items:flex-end;
  }
  .rights{
    align-items:flex-start;
  }
}
