nav {
  height: 5vw;
  width: 100%;

  display: flex;
  margin: 2vw 0;
  align-items: center;
  justify-content: space-between;
  padding: 0 9.722vw;
  transform: translateY(0);
  transition: 150ms ease-in-out;
  z-index: 99;
  //overflow: hidden;
  @media(max-width: 740px) {
    height: 15vw;
    width: 100%;
    padding: 0 5.722vw;
    margin: 0;
  }
  @media(max-width: 480px) {
    height: 23vw;
  }

  &.sticky {
    position: sticky;
    top: 0;
    height: 5vw;
    left: 0;
    transition: 150ms;
    backdrop-filter: blur(10px);
    background: rgba(97, 79, 79, 0.2);
    @media(max-width: 740px) {
      height: 15vw;
    }
    @media(max-width: 480px) {
      height: 23vw;
    }

    &.yes {
      transition: 150ms;
      transform: translateY(-105%);
    }

    &.white-nav {
      background: #ffffff33;
    }


  }

  .wrap-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 36;
    @media(max-width: 740px) {

    }
    @media(max-width: 480px) {
      height: 14vw;
    }

    .logo-nav-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      .logo {
        margin-right: 4.097vw;
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: center;

        svg {
          @media(max-width: 740px) {
            height: 5.7vw;
          }
          @media(max-width: 480px) {
            height: 9.7vw;
          }
        }
      }

      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;

        @media(max-width: 740px) {
          display: none;
          position: fixed;
          left: 0;
          top: 15vw;
          width: 100%;
          //display:flex;
          align-items: center;
          background: #000;
          font-size: 6vw;
          justify-content: center;
          flex-direction: column;
          height: 73vw;
          z-index: 999;
        }
        @media(max-width: 480px) {
          top: 23vw;
        }

        &._toggle {
          @media(max-width: 740px) {
            display: flex;z-index: 999;
          }
          @media(max-width: 480px) {

          }
        }


        li {
          margin: 0 1.458vw;
          cursor: pointer;
          font-size: 1.111vw;
          font-weight: 600;
          @media(max-width: 740px) {
            margin: 3vw 1.458vw;
            font-size: 6.111vw;
          }
          @media(max-width: 480px) {

          }

          &:hover {
            color: #FF4C0D;
            @media(max-width: 740px){

            }
            @media(max-width: 480px){

            }
          }
        }
      }
    }

    button {
      cursor: pointer;
      width: 8.472vw;
      height: 3.750vw;
      border-radius: 4.514vw;
      outline: none;
      border: none;
      font-size: 1.111vw;
      font-family: Gilroy-Semibold, sans-serif;
      @media(max-width: 740px) {
        display: none;
      }
      @media(max-width: 480px) {

      }
    }
  }
}

.burger {
  display: none;

  &._toggle {
    @media(max-width: 740px) {

    }
    @media(max-width: 480px) {

    }
  }

  @media(max-width: 740px) {
    width: 8vw;
    height: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15vw;
    background: #E0E0E0;
    cursor: pointer;
    color: black;
    z-index: 19;
    font-size: 4vw;
  }
  @media(max-width: 480px) {
    width: 13vw;
    height: 13vw;
  }
}

@-moz-document url-prefix() {
  nav.sticky {
    background: #FF4C0D;
  }
  nav.sticky.white-nav {
    background: #ffffff;
  }
}
