nav {
  height: 5vw;
  width: 100%;
  z-index: 99;
  display: flex;
  margin: 2vw 0;
  align-items: center;
  justify-content: space-between;
  padding: 0 9.722vw;
  transform: translateY(0);
  transition: 300ms ease-in-out;
  overflow: hidden;

  &.sticky {
    position: sticky;
    top: 0;
    height: 5vw;
    left: 0;
    transition: 300ms;
    backdrop-filter: blur(10px);
    background: rgba(97, 79, 79, 0.2);

    &.yes {
      transition: 300ms;
      transform: translateY(-105%);
    }

    &.background-off {
      background: transparent;
      backdrop-filter: none;
    }


  }

  .wrap-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 36;
    .logo-nav-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      .logo {
        margin-right: 4.097vw;
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: center;
      }

      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        z-index: 15;

        li {
          margin: 0 1.458vw;
          cursor: pointer;

          &:hover {
            color: #FF4C0D;
            font-weight: 600;
          }
        }
      }
    }

    button {
      cursor: pointer;
      width: 8.472vw;
      height: 3.750vw;
      border-radius: 4.514vw;
      outline: none;
      border: none;
      font-size: 1.111vw;
      font-family: Gilroy-Semibold, sans-serif;
    }
  }
}


