.app-buy {
  padding: 0 9.7vw;
  @media(max-width: 740px) {
    padding: 0 5.7vw;
  }
  @media(max-width: 480px) {
    padding: 0 6.25vw;
    //margin-top: -26vw;
  }

  .block {
    position: relative;
    width: 100%;
    height: 38.194vw;
    padding: 3.264vw;
    border-radius: 1.042vw;
    background: black;
    display: flex;
    justify-content: space-between;
    @media(max-width: 740px) {
      height: 65.194vw;
      padding: 6vw 6.464vw;
      border-radius: 3.042vw;
    }
    @media(max-width: 480px) {
      height: 193.194vw;
      padding: 11vw 9.464vw;
      border-radius: 6.042vw;
    }

    .buy-image {
      position: absolute;
      top: -5vw;
      //right: 4vw;
      right: 0;
      height: 40.278vw;
      //width: 39.444vw;
      z-index: 2;
      display: flex;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      width: 44.444vw;
      @media(max-width: 740px) {
        top: -7vw;
        right: -30vw;
        height: 65.278vw;
        width: 67.444vw;
      }
      @media(max-width: 480px) {
        top: 71vw;
        right: 8vw;
        height: 74.278vw;
        width: 73.444vw;
      }

      img {
        height: 100%;
        object-fit: contain;
        transition: 500ms;
        z-index: 9;
        transform: translateX(22vw);
        width: 39vw;
        margin-right: 3vw;
        @media(max-width: 740px) {
          width: 64vw;
          margin-right: -6vw;
          margin-left: 6vw;
        }
        @media(max-width: 480px) {
          width: 70vw;
          margin-right: -16vw;
          margin-left: 16vw;
        }

        &._show {
          transition: 500ms;
          transform: translateX(-22vw);
          @media(max-width: 740px) {
            transform: translateX(-40vw);
          }
          @media(max-width: 480px) {
            transform: translateX(-52vw);
          }
        }
      }


    }

    .buy-titles_wrap {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      z-index: 2;
      @media(max-width: 740px) {

      }
      @media(max-width: 480px) {
        width: 100%;
      }

      .buy-titles {
        @media(max-width: 740px) {

        }
        @media(max-width: 480px) {

        }

        h1 {
          font-size: 3.125vw;
          margin-bottom: 1.042vw;
          @media(max-width: 740px) {
            font-size: 4.5vw;
          }
          @media(max-width: 480px) {
            font-size: 7.5vw;
            width: 60vw;
            margin-bottom: 3.042vw;
          }
        }

        h2 {
          font-size: 2.083vw;
          color: #FF4C0D;
          @media(max-width: 740px) {
            font-size: 3.7vw;
          }
          @media(max-width: 480px) {
            font-size: 6.7vw;
          }
        }

        .button-component {
          @media(max-width: 740px) {

          }
          @media(max-width: 480px) {

          }
        }
      }

      button {
        outline: none;
        border: none;
        background: #FF4C0D;
        color: white;
        cursor: pointer;
        width: 8.472vw;
        height: 3.750vw;
        border-radius: 5vw;
        font-size: 1.111vw;
        z-index: 2;
        font-weight: 600;
        @media(max-width: 740px) {
          width: 18.472vw;
          height: 7.75vw;
          font-size: 2.111vw;
          margin-bottom: 6.7vw;
        }
        @media(max-width: 480px) {
          width: 68.472vw;
          height: 16.75vw;
          font-size: 4.9vw;
          margin-bottom: 8.7vw;
          border-radius: 11vw;
          align-self: center;
        }
      }
    }

    .buy-set {
      z-index: 2;
      @media(max-width: 740px) {

      }
      @media(max-width: 480px) {

      }

      h2 {
        font-size: 1.389vw;
        margin-bottom: 2.014vw;
        @media(max-width: 740px) {
          font-size: 2.389vw;
          position: absolute;
          bottom: 6vw;
          left: 6vw;
        }
        @media(max-width: 480px) {
          font-size: 4.7vw;
          bottom: 8vw;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
text-align: center;
        }
      }

      ul {
        list-style: none;
        @media(max-width: 740px) {
          display: none;
        }
        @media(max-width: 480px) {

        }

        li {
          margin-bottom: 1.458vw;
          @media(max-width: 740px) {

          }
          @media(max-width: 480px) {

          }
        }
      }
    }
  }
}

.overlay-white {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  @media(max-width: 740px) {

  }
  @media(max-width: 480px) {

  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 1.042vw;
    object-fit: cover;
    @media(max-width: 740px) {
      border-radius: 3.042vw;
    }
    @media(max-width: 480px) {
      border-radius: 6.042vw;
    }
  }
}
