section{
  width: 100%;
  padding: 8.194vw 9.722vw;
  display:flex;
  align-items:flex-start;
  justify-content:center;
  .title-wrapper{
    width: 34.861vw;
    padding-right: 6.667vw;
    h1{
      font-size: 3.125vw;
      line-height: 3.403vw;
      width: 28.819vw;
      color: #FF4C0D;
      font-family: Gilroy-Regular, sans-serif;
    }
    p{
      font-size: 1.250vw;
      margin-top: 3.194vw;
      margin-bottom: 4.097vw;
      font-weight: 300;
      line-height: 2.1vw;
    }
    button{
      width: 12.778vw;
      height: 3.750vw;
      font-size: 1.111vw;
      border-radius: 4vw;
      outline: none;
      border: none;
      background: white;
      cursor: pointer;
      color: black;
      font-weight: bold;
    }
  }
  .questions-wrapper{
    height: 32.917vw;
    display:flex;
    justify-content:space-between;
    flex-direction: column;
    //background: crimson;
    .question-items{

      h3{
        font-size: 1.389vw;
       margin-bottom: 2vw;
        position: relative;
        &:after{
          width: 6.944vw;
          height: 0.208vw;
          top: 2.5vw;
          left: 0;
          content: '';
          position: absolute;
          background: #FF4C0D;
        }
      }
      p{
        font-size: 0.972vw;
        line-height: 1.458vw;
      }
    }
  }
}
