.security {
  padding: 3vw 9.722vw;
  @media(max-width: 740px) {
    padding: 3vw 0;
  }
  @media(max-width: 480px) {

  }

  h1 {
    font-size: 3.125vw;
    width: 66vw;
    font-weight: 500;
    margin-bottom: 5vw;
    color: #FF4C0D;
    @media(max-width: 740px) {
      padding: 0 6.25vw;
      font-size: 4.5vw;
      width: 90vw;
      font-weight: 600;
      color: #FFF;
    }
    @media(max-width: 480px) {
font-size: 7.5vw;margin-bottom: 10vw;
    }
  }

  .tabs-container {
    @media(max-width: 740px) {
      display: none;
    }
    @media(max-width: 480px) {

    }

    .tabs-wrap {
      display: flex;
      position: relative;
      align-items: flex-start;
      justify-content: space-between;

      .tabs-item {
        cursor: pointer;
        width: 18.056vw;
        color: gray;
        transition: 500ms color ease-in-out;

        &._active {
          color: white;
        }

        h3 {
          margin-bottom: 2vw;
          font-size: 1.389vw;
          height: 3.333vw;
        }

        p {
          font-size: 0.972vw;
          line-height: 1.458vw;
        }
      }

      .border {
        width: 100%;
        height: 0.208vw;
        background: gray;
        position: absolute;
        top: 4vw;
        left: 0;
        z-index: -2;
        overflow: hidden;

        .innline-border {
          width: 100%;
          height: 100%;
          position: relative;

          .animating-inner-border {
            position: absolute;
            top: 0;
            height: 100%;
            background: #FF4C0D;
            transition: 500ms ease-in-out;
            transition-property: left, width;
            transition-delay: 100ms;

            &._active-border-one {
              left: 0;
              width: 18vw;
            }

            &._active-border-two {
              left: 20vw;
              width: 18vw;
            }

            &._active-border-three {
              left: 39.9vw;
              width: 19vw;
            }

            &._active-border-four {
              left: 60.5vw;
              width: 27vw;
            }
          }
        }
      }
    }

    .tabs-content-container {
      overflow: hidden;
      height: 32vw;
      width: 100%;

      .tabs-content-wrapper {
        transform: translate(0vw, 0vw);
        transition: 300ms transform ease-in-out;
        padding: 3vw 0;
        transition-delay: 100ms;

        &._active-content-one {
          transform: translate(0vw, 0);
        }

        &._active-content-two {
          transform: translate(0vw, -32vw);
        }

        &._active-content-three {
          transform: translate(0vw, -66vw);
        }

        &._active-content-four {
          transform: translate(0vw, -98vw);
        }

        .tabs-content-item {
          width: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          margin-bottom: 5vw;

          .image-large {
            height: 27.778vw;
            border-radius: 1.042vw;
            overflow: hidden;
            width: 51.778vw;

            &.order {
              order: 2;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transform: scaleX(-1);
            }
          }

          .image-small {
            width: 25.000vw;
            height: 20.833vw;
            border-radius: 1.042vw;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              transform: scale(1.01);
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}
