.mobile-row-tab-container {
  display: none;
  @media(max-width: 740px) {
    display: block;
    padding: 0 6.250vw;
  }
  @media(max-width: 480px) {

  }

  .block-mobile-tab {

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3vw;
    @media(max-width: 740px) {

    }
    @media(max-width: 480px) {
      margin-bottom: 13vw;
    }

    h3 {
      @media(max-width: 740px) {
        width: 87.500vw;
        font-size: 3.125vw;
        line-height: 4.688vw;
        position: relative;
        margin-bottom: 5vw;
        color: #FF4C0D;
      }
      @media(max-width: 480px) {
        font-size: 4.9vw;
        margin-bottom: 8vw;
      }

      &:after {
        @media(max-width: 740px) {
          content: '';
          width: 23.438vw;
          height: 0.469vw;
          background: #FF4C0D;
          position: absolute;
          top: 7vw;
          left: 0;
        }
        @media(max-width: 480px) {
          width: 31.438vw;
          height: 0.669vw;
          top: 9vw;
        }

      }
    }

    p {
      @media(max-width: 740px) {
        font-size: 2.188vw;
        line-height: 3.438vw;
        width: 100%;
        margin-bottom: 2vw;
      }
      @media(max-width: 480px) {
font-size: 4.188vw;
line-height: 6.438vw;margin-bottom: 4vw;
      }

    }

    .block-mobile-image {
      @media(max-width: 740px) {
        width: 100%;
        border-radius: 2.344vw;
        height: 54.688vw;
        overflow: hidden;
      }
      @media(max-width: 480px) {
border-radius: 4.344vw;
height: 62.688vw;
      }

      img {
        @media(max-width: 740px) {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        @media(max-width: 480px) {

        }
      }
    }
  }
}


//54.688vw
