@import '~swiper/swiper.min.css';

.slider-rewiew-container {
  width: 118.389vw;
  padding: 0 0 0 9.7vw;
  height: 32vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 5vw 0;

  h1 {
    font-size: 3.125vw;
    color: #FF4C0D;
    margin-left: 1.389vw;
  }
}

.swiper-rewiev {
  width: 100%;
  height: 23vw;
}

.slide-item-rewiev {
  width: 36.333vw;
  height: 100%;
  padding: 0 1.389vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-block {
  width: 100%;
  height: 20.417vw;
  background: #111111;
  border-radius: 1.042vw;
  padding: 2.778vw;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  h4 {
    font-size: 1.389vw;
    margin-bottom: 2.50vw;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 2.9vw;
      left: 0;
      width: 6.944vw;
      height: 0.208vw;
      background: #FF4C0D;
    }
  }

  p {
    font-size: 0.972vw;
    margin-bottom: 1.250vw;
    line-height: 1.458vw;

  }

  &.last {
    background: transparent;
  }
}

.wrapper-rewiev {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-and-slider-navigation {
  width: 82vw;
  margin-left: 1.389vw;
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    width: 13.125vw;
    height: 3.750vw;
    border-radius: 4.514vw;
    font-size: 1.111vw;
    font-weight: 600;
    background: white;
    color: #111111;
    outline: none;
    border: none;
    user-select: none;
    cursor: pointer;
  }
  .slider-custom-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 8.5vw;

    .slider-prev, .slider-next {
      width: 3.750vw;
      height: 3.750vw;
      background: white;
      border-radius: 50vw;
      color: #232222;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      user-select: none;
      &.whiteSliderNavThemeClass{
        color: #ffffff;background: #000000;
        svg{
          fill: white;
        }
      }
      &:hover {
        background: #FF4C0D;
        svg {
          fill: white;
        }
      }
    }
    .prev {
      transform: translateX(-0.1vw);
    }
    .next {
      transform: translateX(0.1vw);
    }
  }
}
