@import '~swiper/swiper.min.css';

.slider-rewiew-container {
  width: 118.389vw;
  padding: 0 0 0 9.7vw;
  height: 32vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 5vw 0;
  @media(max-width: 740px) {
    width: 203.389vw;
    padding: 0 0 0 5vw;
    height: 74vw;
    margin: 12vw 0;
  }
  @media(max-width: 480px) {

  }

  h1 {
    font-size: 3.125vw;
    color: #FF4C0D;
    margin-left: 1.389vw;
    @media(max-width: 740px) {
      font-size: 4.5vw;
      color: #FFF;
    }
    @media(max-width: 480px) {

    }
  }
}

.swiper-rewiev {
  width: 100%;
  height: 23vw;
  @media(max-width: 740px) {
    height: 49vw;
    margin-top: 2vw;
  }
  @media(max-width: 480px) {

  }
}

.slide-item-rewiev {
  width: 36.333vw;
  height: 100%;
  padding: 0 1.389vw;
  display: flex;
  align-items: center;
  justify-content: center;
  @media(max-width: 740px) {
    width: 65.333vw;
  }
  @media(max-width: 480px) {

  }
}

.slide-block {
  width: 100%;
  height: 20.417vw;
  background: #111111;
  border-radius: 1.042vw;
  padding: 2.778vw;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  @media(max-width: 740px) {
    height: 49.417vw;
    border-radius: 3.042vw;
    padding: 7vw 5.778vw;
  }
  @media(max-width: 480px) {

  }

  h4 {
    font-size: 1.389vw;
    margin-bottom: 2.50vw;
    position: relative;
    @media(max-width: 740px) {
      font-size: 3vw;
      margin-bottom: 5.5vw;
    }
    @media(max-width: 480px) {

    }

    &:after {
      content: '';
      position: absolute;
      top: 2.9vw;
      left: 0;
      width: 6.944vw;
      height: 0.208vw;
      background: #FF4C0D;
      @media(max-width: 740px) {
        top: 5.9vw;
        width: 22.944vw;
        height: 0.7vw;
      }
      @media(max-width: 480px) {

      }
    }
  }

  p {
    font-size: 0.972vw;
    margin-bottom: 1.250vw;
    line-height: 1.458vw;
    @media(max-width: 740px) {
      font-size: 2.3vw;
      line-height: 2.9vw;
    }
    @media(max-width: 480px) {

    }
  }

  &.last {
    background: transparent;
    @media(max-width: 740px) {

    }
    @media(max-width: 480px) {

    }
  }
}

.wrapper-rewiev {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media(max-width: 740px) {

  }
  @media(max-width: 480px) {

  }
}

.button-and-slider-navigation {
  width: 82vw;
  margin-left: 1.389vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media(max-width: 740px) {
    width: 86vw;
  }
  @media(max-width: 480px) {

  }

  button {
    width: 13.125vw;
    height: 3.750vw;
    border-radius: 4.514vw;
    font-size: 1.111vw;
    font-weight: 600;
    background: white;
    color: #111111;
    outline: none;
    border: none;
    user-select: none;
    cursor: pointer;
    @media(max-width: 740px) {
      width: 28.125vw;
      height: 8.75vw;
      font-size: 2.3vw;
    }
    @media(max-width: 480px) {

    }
  }

  .slider-custom-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 8.5vw;
    @media(max-width: 740px) {
      width: 20.5vw;
    }
    @media(max-width: 480px) {

    }

    .slider-prev, .slider-next {
      width: 3.750vw;
      height: 3.750vw;
      background: white;
      border-radius: 50vw;
      color: #232222;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      user-select: none;

      @media(max-width: 740px) {
        width: 8.5vw;
        height: 8.5vw;
      }
      @media(max-width: 480px) {

      }

      svg {
        @media(max-width: 740px) {
          height: 3.319vw;
        }
        @media(max-width: 480px) {

        }
      }

      &.whiteSliderNavThemeClass {
        color: #ffffff;
        background: #000000;
        @media(max-width: 740px) {

        }
        @media(max-width: 480px) {

        }

        svg {
          fill: white;
          @media(max-width: 740px) {

          }
          @media(max-width: 480px) {

          }
        }
      }

      &:hover {
        background: #FF4C0D;
        @media(max-width: 740px) {

        }
        @media(max-width: 480px) {

        }

        svg {
          fill: white;
        }
      }
    }

    .prev {
      transform: translateX(-0.1vw);
    }

    .next {
      transform: translateX(0.1vw);
    }
  }
}
